<div>

	<div>
		<div style="text-align:center">
			<button routerLink="/userlist">Manage My Equipment</button>
			<button routerLink="/list">Equipment Search</button>
			<button (click)="logOut()">Log Out</button>
		</div>
		<div>
			<h1>My Rentals</h1>
			<!-- <input placeholder="Search equipment near you">
			<button>Filter</button> -->
			<hr>
		</div>
		<div  *ngFor="let info of rental_info">
			<div>
				<img src="{{info.equipment.equip_img}}" width="200" height="200">
			</div>
			<div>
				<h2>{{info.equipment.model}} {{info.equipment.brand}} {{info.equipment.equip_type}}</h2>
				<h4>Description</h4>
				<p>{{info.equipment.description}}</p>
				<strong>Hourly Rate</strong>
				<h2>{{info.equipment.hourly_rental_price}}</h2>
				<strong>24-hr Rate</strong>
				<h2>{{info.equipment.daily_rental_price}}</h2>
				<strong>Status:  <span *ngIf="info.rental?.active == true || !info.rental?.active">Available</span><span *ngIf="info.rental?.active == false">Unavailable</span></strong><br />
				<strong>Contact Owner</strong><br />
				<button (click)="deleteRental(info)">Complete Rental</button><br />
			</div>
			<hr>
		</div>
	</div>

</div>
